<div (click)="onItemSelect()" class="cursor-pointer">
  <div class="flex items-center gap-3 relative mb-2">
    <div
      class="p-2 rounded-xl bg-gray-300 flex"
      [ngClass]="{
      'bg-yellow-100': data.status === 'pending',
      'bg-red-100': data.status === 'overdue',
      'tbgext-blue-100': data.status === 'part-payment',
    }"
    >
      <span
        class="material-symbols-outlined text-dark"
        [ngClass]="{
        'text-yellow-600': data.status === 'pending',
        'text-red-600': data.status === 'overdue',
        'text-blue-600': data.status === 'part-payment',
      }"
      >
        assignment
      </span>
    </div>
    <div>
      <div class="font-semibold text-gray-800">
        {{ amountDue | naira }}
      </div>
      <div class="text-xs text-gray-500 flex items-center gap-1">
        <svg
          class="w-3.5 h-3.5"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
          />
        </svg>
        <span>{{ data.status }}</span>
      </div>
    </div>

    <span class="material-symbols-outlined text-primary absolute right-0">
      east
    </span>
  </div>

  <div class="flex gap-2 mb-2 flex-wrap">
    <span
      class="bg-gray-100 text-gray-600 text-xs px-3 py-1 rounded-full font-medium"
      ># {{ data.session }}</span
    >
    <span
      class="bg-gray-100 text-gray-600 text-xs px-3 py-1 rounded-full font-medium"
      ># {{ termData ? termData.title : "" }}</span
    >

    <span
      class="bg-gray-100 text-gray-600 text-xs px-3 py-1 rounded-full font-medium"
      *ngIf="data.class"
      ># {{ data.class.name }}</span
    >
    <span
      class="bg-gray-100 text-gray-600 text-xs px-3 py-1 rounded-full font-medium"
      *ngIf="data.department"
      ># {{ data.department.name }}</span
    >
    <span
      class="bg-gray-100 text-gray-600 text-xs px-3 py-1 rounded-full font-medium"
      *ngIf="data.program"
      ># {{ data.program.name }}</span
    >
  </div>

  <div
    class="border-2 border-dashed border-gray-200 rounded-xl p-3 grid md:grid-cols-3"
  >
    <div class="border-r-gray-200 border-r pr-0 md:pr-3">
      <div class="text-xs text-gray-400 font-bold mb-1">Amount Expected</div>
      <div class="text-sm font-medium text-gray-800">
        {{ amountExpected | naira }}
      </div>
    </div>

    <div class="border-r-gray-200 border-r px-0 md:px-3">
      <div class="text-xs text-gray-400 font-bold mb-1">
        {{ variationLabel }}
      </div>
      <div class="text-sm font-medium text-gray-800">
        {{ variation | naira }}
      </div>
    </div>

    <div class="border-r-gray-200 pl-0 md:pl-3">
      <div class="text-xs text-gray-400 font-bold mb-1">Amount Paid so far</div>
      <div class="text-sm font-medium text-gray-800">
        {{ data.totalReceived | naira }}
      </div>
    </div>
  </div>
</div>
