<!-- Floating Concentric Design -->
<div class="absolute hidden md:block left-[-50px] bottom-0">
  <div class="relative w-[300px] h-[300px]">
    <!-- Concentric circles -->
    <div
      class="absolute inset-0 rounded-full border border-green-200 opacity-40"
    ></div>
    <div
      class="absolute inset-[30px] rounded-full border border-green-200 opacity-40"
    ></div>
    <div
      class="absolute inset-[60px] rounded-full border border-green-200 opacity-30"
    ></div>
    <div
      class="absolute inset-[90px] rounded-full bg-green-100/10 flex items-center justify-center"
    >
      <!-- Center icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-10 w-10 text-green-500"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 12l2 2 4-4"
        />
      </svg>
    </div>
  </div>
</div>
