<!-- sms-form.component.html -->
<div class="max-w-2xl mx-auto p-6">
  <h1 class="text-2xl font-semibold mb-6">Schedule SMS</h1>

  <form (ngSubmit)="onSubmit()" class="space-y-5" [formGroup]="form">
    <div>
      <label class="block mb-2 text-sm font-medium">Recipients</label>
      <textarea
        formControlName="recipients"
        name="recipients"
        rows="6"
        placeholder="Paste numbers separated by comma or newline"
        class="w-full rounded-2xl border border-dark p-3 focus:outline-none focus:ring focus:ring-indigo-200"
      ></textarea>
      <p class="mt-1 text-xs text-gray-500">
        Example: 08012345678, 08098765432 or one per line
      </p>
    </div>

    <div>
      <label class="block mb-2 text-sm font-medium">Message (optional)</label>
      <textarea
        formControlName="message"
        name="message"
        rows="4"
        placeholder="Your message"
        class="w-full rounded-2xl border border-dark p-3 focus:outline-none focus:ring focus:ring-indigo-200"
      ></textarea>
    </div>

    <div>
      <label class="block mb-2 text-sm font-medium"
        >Sender Name (optional)</label
      >
      <input
        formControlName="sender"
        name="sender"
        type="text"
        placeholder="e.g. CRYPTOSHARK"
        class="w-full rounded-2xl border border-dark p-3 focus:outline-none focus:ring focus:ring-indigo-200"
      />
    </div>

    <button
      type="submit"
      [disabled]="form.invalid"
      class="w-full rounded-2xl px-4 py-3 font-medium shadow disabled:opacity-60 bg-indigo-600 text-white hover:bg-indigo-700 transition"
    >
      Schedule
    </button>
  </form>
</div>
